<header>
  <h1>Main Window</h1>
</header>
<main>
  <div class="buttons">
    <button routerLink="/home">Home</button>
    <button routerLink="/contact">Contacts</button>
  </div>
  <div class="section">
    <router-outlet></router-outlet>
    
  </div>
  

</main>
